/* ANOTACIONES VARIAS 


POSICIONAMIENTO ABSOLUTO ACTUARA CON REFERENCIA A SU PADRE

SI USAMOS POSICIONAMIENTO-> ABSOLUTE NECESITAMOS METERLE RIGHT:0% Y TOP:100%





*/



header {

    position: relative;
    float: left;
    background-color: blue;
    width: 100%;

}

header i{
    float: right;
    position: relative;
    display: block;
}

img{

    position: relative;
    float: left;
    max-width: 150px;
    
   

    
}

nav{
    display: none;
    
   
}

.fa:hover nav{
    display: block;
    position: absolute;
    right: 0px;
    background-color: blueviolet;
}







