/*
    FLEXBOX SOLO FUNCIONA DE PADRE A HIJO.






*/

body{

  color: white;
}
#contenedor{

  max-width: 1100px;
  margin: 0 auto;

}
 


header {

/*Primero vista con movil*/


/*Despues vista con padre*/

  
  display: flex; /* El padre siempre lleva esto*/
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;


}


header a{

  align-self: center;
  color: white;
  
}
main{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}


main div{

  display: flex;
  flex-direction: row;

  justify-content: center;
}



#servicios{
  
  display: flex;
  flex-direction: row;
  flex-basis: 60%;

  align-items: flex-start;
  flex-basis: calc(60%);
  
  
  
}

.servicio1{
  background-color: brown;
  flex-grow: 1;
}
.servicio2{
  background-color: darkorchid;
  flex-grow: 1;
}
.servicio3{
  background-color: darkblue;
  flex-grow: 1;
}




aside{
 flex-grow: 1;

  display: flex;
  flex-direction: column;
  background-color: blue;
  align-items: center;
  

}


li a{
  color: white;
 
}





footer{
  background-color: deeppink;
  
}