header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;


}
header a{

  align-self: center;
  color: white;
  
}
main{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
main section{
  display: flex;
  flex-direction: row;
  flex-grow: 60%;
  background-color: aquamarine;
  
}
main aside{
  background-color: blue;

}


aside li{


}

footer{
  
}