*{
  margin: 0px;
  padding: 0px;

}



body{
    margin: 0;
    
    background-color: white;
    @media (min-width: 1250px) {

      background: linear-gradient(

      to right,
      #ff6b6b 10%,         /* rojo en el 10% del ancho */
      #ffffff 10%,         /* fondo blanco en el centro */
      #ffffff 90%,         /* mantiene blanco hasta el 90% */
      #ffa94d 90%          /* naranja en el 10% derecho */



    );

      
    }

  
}
#contenedor{

  max-width: 1000px;
  margin: 0 auto;
  
  
  
}



/*LE ASIGNO MAYOR QUE PARA QUE SOLO HAGA ESTO PARA EL PRIMER UL*/
.menu > ul{
  
  
      /*Primero para dispositivos móviles*/
      display: flex;
      flex-direction: column;
      justify-items: left;

      background-color: #272EF5;
      /*Versión web*/
      @media(min-width: 780px){
        flex-direction: row;
        justify-content: space-between;
      }
  
}




.menu ul li{

  display: flex;
  flex-grow: 1;
  list-style: none;

 
  
}

.menu ul li a{
      text-decoration: none;
    
      flex-grow: 1;
      text-align: center;
      
    
      background-color: #272EF5;
      color: white;


      /*Versión web*/
      @media(min-width: 780px){

        padding: 1rem;


      }
  
  
}

/*PARA EL SOMBREADO DE TODO*/
.menu ul li :hover{

  background-color: #27CCF5;
 

}


/*PARA REALIZAR EL SUBMENU*/
.sub{
  


    @media(min-width: 780px){
    position: relative;
    display: block;

    }

    

}




/*Para que aparezca el Submenu*/

.submenu{

  
    position: absolute;
    flex-direction: column;

    top: 100%;
    left: 0px;
    width: 100%;

    @media(min-width: 780px){

      display: none;
    }

 

}



.sub:hover .submenu{
  display: block;
  background-color: #ff6b6b;
}





/*Para el segundo menu con los iconos grandes :*/
.menu2 ul{

      /*Móvil*/
      display: flex;
      flex-direction: column;
      
      list-style: none;

      background-color: #272EF5;

     /*Tablet y web*/
      @media(min-width:480px){
        
        
      flex-direction: row;
      flex-wrap: wrap;

      }


}
.menu2 ul li{
  
  color: white;
  display: flex;
  flex-direction: row;


  @media screen and (min-width:480px){

    flex-basis: calc(100%/2);
    

  }

   @media screen and (min-width:780px){

    flex-basis: calc(100%/4);
    

  }
  
  
}
/*Aumentamos el tamaño de los iconos del segundo menu :*/
.menu2 i{
 
  font-size: 30px;
  margin-right: 5%;
  color: white;
  
}

/*Para el sombreado del menu*/
.menu2 ul :hover{

  background-color: #27CCF5;


}


/*Header numero 4*/

.menu4 ul{

        /*Movil*/
        display: flex;
        justify-content: right;

        /*Colores*/
        background-color: #272EF5;
        color: white;
        /*tamaño*/
        padding: 1rem;

        @media(min-width: 780px){
          flex-direction: row;
          justify-content: right;
        


        }



}

.menu4 ul i{

  font-size: 15px;
  margin-right: 2%;

  
}


/*Header numero 5*/

.menu5{

  display: flex;
  justify-content: space-between;
  background-color: #272EF5;
 
}
.menu5 ul{

  display: flex;
  flex-direction: row;
  list-style: none;
 

}

.menu5 ul li a{
  
  text-decoration: none;
  color: white;
  padding: 0.75rem;
 
}



/*Submenu del header 5*/
.menu5 ul li :hover{

  background-color: #27CCF5;

}


/*PARA REALIZAR EL SUBMENU*/
.sub1{


    @media(min-width: 780px){
    position: relative;
    display: block;

    }

 

}




/*Para que aparezca el Submenu*/

.submenu1{

      position: absolute;
      flex-direction: column;
      top: 100%;
      left: 0px;
      width: 100%;

      @media(min-width: 780px){

        display: none;
      }

}



.sub1:hover .submenu1{
  display: block;
 
}


.menu5 ul li i{

    color: white;
    padding: 0.75rem;
  
  
}

