*{
  margin: 0px;
  padding: 0px;



}



body{
  margin: 0;
  
  background-color: white;
  @media (min-width: 1250px) {

    background: linear-gradient(

    to right,
    #ff6b6b 10%,         /* rojo en el 10% del ancho */
    #ffffff 10%,         /* fondo blanco en el centro */
    #ffffff 90%,         /* mantiene blanco hasta el 90% */
    #ffa94d 90%          /* naranja en el 10% derecho */



  );

    
  }

  
}
#contenedor{

  max-width: 1000px;
  margin: 0 auto;
  
  
  
}




.menu ul{
  
  
   /*Primero para dispositivos móviles*/
  display: flex;
  flex-direction: column;
  
  background-color: #272EF5;
  /*Versión web*/
  @media(min-width: 780px){
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

  }
  
}




.menu ul li{

  display: flex;
  flex-grow: 1;
  list-style: none;
  
}

.menu ul li a{
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  
  
  background-color: #272EF5;
  color: white;


   /*Versión web*/
  @media(min-width: 780px){

    padding: 1rem;


  }
  
  
}


.menu ul li a:hover{

  background-color: #27CCF5;


}
.sub{
  position: relative; /*Marco la posicion relativa del padre*/
}

/*Desaparece el submenu del header*/
.submenu li a{
 
 
  display: none;
  
}

/*Para que aparezca el Submenu*/
.sub:hover .submenu li a{
  border: black solid 2px;
   display: block;
   position: absolute; /*Posicion absoluta del padre*/
   left: 0px;
   top: 100%;
   width: 100%;
  

}


/*Para el segundo menu con los iconos grandes :*/
.menu2 ul{

  /*Móvil*/
  display: flex;
  flex-direction: row;
  list-style: none;

  background-color: #272EF5;


  /*Web*/
  @media(min-width:780px){

    justify-content: space-around;

  }


}
.menu2 ul li{
  /*Para que se coloque al lado del texto los iconos*/
  display: flex;
}
/*Aumentamos el tamaño de los iconos del segundo menu :*/
.menu2 i{
 
  font-size: 30px;
  margin-right: 5%;
  color: white;
  
}


/*Header numero 4*/

.iconos ul{

    /*Movil*/
    display: flex;

    

    /*Colores*/
    background-color: #272EF5;
    color: white;


    @media(min-width: 780px){
      flex-direction: row;
      justify-content: right;
      padding: 1rem;


    }



}

.iconos ul i{

  font-size: 15px;
  margin-right: 2%;

  
}






/*Header numero 5*/
.menuIconos ul{

    /*Movil*/

    display: flex;
    

    /*Colores*/
    background-color: #272EF5;
    color: white;


    @media(min-width: 780px){
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;


    }


}

.menuIconos ul li{

  list-style: none;
  
}
.menuIconos ul li a{

  text-decoration: none;
  color: white;
  
}