body{
  margin: 0;
  
  background-color: white;
  @media (min-width: 1000px) {

    background: linear-gradient(

    to right,
    #ff6b6b 10%,         /* rojo en el 10% del ancho */
    #ffffff 10%,         /* fondo blanco en el centro */
    #ffffff 90%,         /* mantiene blanco hasta el 90% */
    #ffa94d 90%          /* naranja en el 10% derecho */



  );

    
  }

  
}
#contenedor{

  max-width: 1000px;
  margin: 0 auto;
  
  
  
}




nav ul{
  background-color: #ff6b6b;
  border: 1px solid black;
   /*Primero para dispositivos móviles*/
  display: flex;
  flex-direction: column;
  
  
 
 
  

  /*Versión web*/
  @media(min-width: 780px){
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    


  }
  
}

nav ul li{

  display: flex;

 list-style: none;
  
}

nav ul li a{
  text-decoration: none;
  
  
  background-color: red;
  


   /*Versión web*/
  @media(min-width: 780px){

    padding: 1rem;


  }
  
  
}


nav ul li a:hover{

  background-color: white;


}
.menu1{

  /*Primero para dispositivos móviles*/
 
 
 
  

  /*Versión web*/
  @media(min-width: 780px){

    


  }
  

}



.menu2{

  /*Primero para dispositivos móviles*/
 

  /*Versión web*/
  @media(min-width: 780px){

    


  }
  

}
.menu3{

  /*Primero para dispositivos móviles*/
  
  /*Versión web*/
  @media(min-width: 780px){



  }
  

}
.submenu{
  display: none;
}

/*Para que aparezca el Submenu*/
li .sub:hover .submenu{

  display: block;
  position: absolute;
  


}
.menu4{

  /*Primero para dispositivos móviles*/
  
  /*Versión web*/
  @media(min-width: 780px){

    



  }
  

}
.menu5{

  /*Primero para dispositivos móviles*/
 
  /*Versión web*/
  @media(min-width: 780px){

 


  }
  

}
