/*
    FLEXBOX SOLO FUNCIONA DE PADRE A HIJO.






*/

body{
  margin: 0;
  
  background-color: white;
  @media (min-width: 1000px) {

    background: linear-gradient(

    to right,
    #ff6b6b 10%,         /* rojo en el 10% del ancho */
    #ffffff 10%,         /* fondo blanco en el centro */
    #ffffff 90%,         /* mantiene blanco hasta el 90% */
    #ffa94d 90%          /* naranja en el 10% derecho */



  );

    
  }

  
}
#contenedor{

  max-width: 1000px;
  margin: 0 auto;
  
  
}

header {

/*Primero vista con movil*/

    flex-direction: column;
    text-align: center;

   

    /*Añado los colores*/;
    background-color: #5AEAFA;
    color: white;

  
    /*Despues vista con padre*/
    @media(min-width : 580px) {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        
    }

}

nav ul{
    /*Primero vista movil*/
      
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        text-align: center;
        list-style: none;



     /*tablet*/
  
    /*A partir de aqui modo Ordenador*/
    
}
nav ul li{
   margin-left: 1rem;
 
}


main{

  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;

  

    /*A partir de aqui modo Ordenador*/
     @media (min-width : 780px) {

      flex-direction:row;
      
    }


  
}
#servicios{
  flex-basis: 200px; /*NO USAR NUNCA WIDHT*/
  display: flex;
  flex-direction: row;
 
  
}


main div{

  display: flex;
  flex-direction: row;

  justify-content: center;
  
}

aside{
  flex-grow: 1;
  background-color: #5AEAFA;
  color: white;
  

}
aside h2{
  text-align: center;
}


#servicios{
  
  display: flex;
  flex-direction: row;
  flex-basis: 60%;

  align-items: flex-start;
  flex-basis: calc(60%);
  
  color: white;


  
  
  
}
.servicio{
  flex-grow: 1;
}
.servicio1{
  background-color: red;
  
}
.servicio2{
  background-color: yellow;
  
}
.servicio3{
  background-color: green;
  
}


footer{
    /*Primero version movil*/

        background-color: mediumorchid;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
  
}


  
  


  

